footer { /*creates the footer that we all know and love by creating the thick black line at the bottem and added the copyrights and socials*/
    border: none;
    position: relative;
    background-color: black;
    color:white;
    text-decoration-color: #ffff;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 15px;
    
}
footer h4 { /*add reasonable space below text for the buttons instead of leaving it up to the browsers to decide*/
    margin:10px;
    margin-top: 10px;
}
footer a { /*styles the social media buttons in the footer*/
    color: white;
    background-color: black;
    font-size: 24px;
    text-decoration:none;
    padding: 5px 0;
    padding-top: 10px;
    position: relative;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;

}
footer ul { /*styles the list of social media buttons in the footer*/
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top:15px ;
    margin-left: 3px;
    margin-right: 3px;
}
footer a:hover { /*adds hover effect to the social media buttons in the footer*/
    filter: invert(100%);
    text-decoration: none;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}