body{
    background-color: rgb(0, 153,255);
}
#me{
    justify-self: center;
    }

#imgA {
    padding: 30px;
    background-color: #008ff6;
    border-radius: 70px;
    width: 200px;
    max-width: 100%;
    padding-bottom: 30px;
    margin-left: auto;
    

    justify-self: inherit;
 
 }
 #profileDiv {
    align-self: center;
 }
 figcaption{
        padding: 10px;
        background-color: #008ff6;
        border-radius: 100px;
        text-align: center;
        font-weight: bolder;
        font-size: large;
    }
    #Projects{
        justify-self: center;
        text-align: center;
        font-weight: bolder;
    }

.btn {
    padding: 10px;
    width: 100px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 158, 255);
    border-radius: 10px;
}
.btn:hover{
    cursor:pointer;
    filter:invert(100%);
    text-decoration: underline;
}
p{
    margin-left: 10%;
    margin-right: 10%;
}
.project{
    padding: 7.5px;
    background-color: rgb(0, 140, 255);
    border-radius: 10px;
}
h3{
    text-align: center;
}
footer { /*creates the footer that we all know and love by creating the thick black line at the bottem and added the copyrights and socials*/
    border: none;
    position: relative;
    background-color: black;
    color:white;
    text-decoration-color: #ffff;
    text-align:center;
}
footer h4 { /*add reasonable space below text for the buttons instead of leaving it up to the browsers to decide*/
    margin:3px;
}
[type="button"]{ /*creates the buttons in the footer for the socials*/
    padding: 1px;
    background-color: white;
    text-decoration: none;
    align-self: center;
    justify-self:center;
    color: black;
    border-radius: 3px;
    margin: 2px;
}
@media (min-width: 60em){ /*For smaller screens*/ 
    #imgA {
        padding: 30px;
        background-color: #008ff6;
        border-radius: 70px;
        width: 200px;
        max-width: 100%;
        padding-bottom: 30px;
        margin-left: auto;
        
 }

    figcaption{
        padding: 10px;
        background-color: #008ff6;
        border-radius: 100px;
        text-align: center;
        font-weight: bolder;
        font-size: large;
    }
}

@media (min-width: 1200px){ /*creates css for larger screen (all mostly similar w/ different values than above)*/

    
    #imgA {
    padding: 30px;
    background-color: #008ff6;
    border-radius: 100px;
    width: 300px;
    max-width: 100%;
    padding-bottom: 30px;
    margin-left: auto;
    
    }
    figcaption{
        padding: 15px;
        background-color: #008ff6;
        border-radius: 100px;
        text-align: center;
        font-weight: bolder;
        font-size: larger;
    }
    p{
    margin-left: 20%;
    margin-right: 20%;
}
}

