body{
    background-color: rgb(0, 153,255);
}
#me{
    justify-self: center;
    }

#imgA {
    padding: 30px;
    background-color: #008ff6;
    border-radius: 70px;
    width: 200px;
    max-width: 100%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
 }
 figcaption{
        padding: 10px;
        background-color: #008ff6;
        border-radius: 100px;
        text-align: center;
        font-weight: bolder;
        font-size: large;
    }
    #Projects{
        justify-self: center;
        text-align: center;
        font-weight: bolder;
    }
    iframe{
        visibility: hidden;
    }
@media (min-width: 60em){ /*For smaller screens*/ 
    #imgA {
        padding: 30px;
        background-color: #008ff6;
        border-radius: 70px;
        width: 200px;
        max-width: 100%;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
 }

    figcaption{
        padding: 10px;
        background-color: #008ff6;
        border-radius: 100px;
        text-align: center;
        font-weight: bolder;
        font-size: large;
    }
    iframe{
        visibility:visible;
        height: 700px;
        width: fit-content;
    }
}

@media (min-width: 1200px){ /*creates css for larger screen (all mostly similar w/ different values than above)*/

    
    #imgA {
    padding: 30px;
    background-color: #008ff6;
    border-radius: 100px;
    width: 300px;
    max-width: 100%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    }
    figcaption{
        padding: 15px;
        background-color: #008ff6;
        border-radius: 100px;
        text-align: center;
        font-weight: bolder;
        font-size: larger;
    }
}

